## ðŸš§ Planning
### Objective
O objetivo Ã© criar uma ferramenta que leia um arquivo de transaÃ§Ãµes (CSV ou Excel), processe esses dados, categorize os gastos automaticamente e gere grÃ¡ficos interativos.

### Modules
- Pandas
- Matplotlib
- Plotly
- Streamlit

### Steps
- [x] Use Koggle to take a test database
- [x] Pandas to threating datas
- [x] Categorize datas (using keywords)
- [ ] Statistic analysis (calculate total expenses, daily expenses average and the category that user much expense)
- [ ] Visualizate (charts) (1. total expenses x money gained | 2. daily expenses | 3. invested categories)
- ...
- [ ] Make a csv uploader (streamlit)
- [ ] Make a spends predictor (AI)

In [43]:
import pandas as pd

df = pd.read_csv('../database/expense_data_1.csv')

df = df.drop(columns=['Subcategory', 'Note.1', 'Currency', 'Account'])

display(df)
# display(df['Category'].unique())

date_range = []
for d in df['Date'].unique():
    quant = len(str(d))+1
    if not quant in date_range:
        date_range.append(quant)

display(date_range)

# for d in df['Date'].unique():
    # last = str(d)[-5:]
    # if '/' in last:
    #     print('TIME_ERROR')

for i, d in enumerate(df['Date']):
    df.at[i, 'Date'] = d[0:-6]

display(df)
display(df.info())

,Date,Category,Note,INR,Income/Expense,Amount,Account.1
0,3/2/2022 10:11,Food,Brownie,50.0,Expense,50.0,50.0
1,3/2/2022 10:11,Other,To lended people,300.0,Expense,300.0,300.0
2,3/1/2022 19:50,Food,Dinner,78.0,Expense,78.0,78.0
3,3/1/2022 18:56,Transportation,Metro,30.0,Expense,30.0,30.0
4,3/1/2022 18:22,Food,Snacks,67.0,Expense,67.0,67.0
...,...,...,...,...,...,...,...
272,11/22/2021 14:16,Food,Dinner,90.0,Expense,90.0,90.0
273,11/22/2021 14:16,Food,Lunch with company,97.0,Expense,97.0,97.0
274,11/21/2021 17:07,Transportation,Rapido,130.0,Expense,130.0,130.0
275,11/21/2021 15:50,Food,Lunch,875.0,Expense,875.0,875.0
276,11/21/2021 13:30,Other,Got from gobi,2000.0,Income,2000.0,2000.0

[15, 16, 14, 17]

,Date,Category,Note,INR,Income/Expense,Amount,Account.1
0,3/2/2022,Food,Brownie,50.0,Expense,50.0,50.0
1,3/2/2022,Other,To lended people,300.0,Expense,300.0,300.0
2,3/1/2022,Food,Dinner,78.0,Expense,78.0,78.0
3,3/1/2022,Transportation,Metro,30.0,Expense,30.0,30.0
4,3/1/2022,Food,Snacks,67.0,Expense,67.0,67.0
...,...,...,...,...,...,...,...
272,11/22/2021,Food,Dinner,90.0,Expense,90.0,90.0
273,11/22/2021,Food,Lunch with company,97.0,Expense,97.0,97.0
274,11/21/2021,Transportation,Rapido,130.0,Expense,130.0,130.0
275,11/21/2021,Food,Lunch,875.0,Expense,875.0,875.0
276,11/21/2021,Other,Got from gobi,2000.0,Income,2000.0,2000.0

<class 'pandas.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            277 non-null    str
 1   Category        277 non-null    str
 2   Note            273 non-null    str
 3   INR             277 non-null    float64
 4   Income/Expense  277 non-null    str
 5   Amount          277 non-null    float64
 6   Account.1       277 non-null    float64
dtypes: float64(3), str(4)
memory usage: 15.3 KB

None

| Are a different currency in df, however will be considered that a unique currency was been used.

In [ ]:
total_expenses = 0
for i, transaction in df.iterrows():
    if transaction['Income/Expense'] == 'Expense':
        total_expenses += transaction['INR']

print(f'{total_expenses:.2f}')

59024.0
59024.00

In [ ]:
# for c in df['Category'].unique():
#     print(f"'{c}'", end=', ')

categories = ('Food', 'Other', 'Transportation', 'Social Life', 'Household', 'Apparel', 'Education', 'Salary', 'Allowance', 'Self-development', 'Beauty', 'Gift', 'Petty cash')